# Chargement et Préparation des Données

In [26]:
import pandas as pd

In [32]:
df = pd.read_csv("books_data_t.csv/books_data_t.csv")
retrait= df[["Image","Lien Google", "Date publication", "infoLink"]]

df = df[["Titre", "Description", "Auteurs", "Editeur", "Genre", "Nb scores"]]
df = df.dropna(subset=["Titre", "Auteurs", "Editeur", "Genre", "Nb scores"])
df = df.head(1000)

df.head(1000)

,Titre,Description,Auteurs,Editeur,Genre,Nb scores
5,The Church of Christ: A Biblical Ecclesiology ...,In The Church of Christ: A Biblical Ecclesiolo...,['Everett Ferguson'],Wm. B. Eerdmans Publishing,['Religion'],5.0
31,Voices from the Farm: Adventures in Community ...,"Twenty-five years ago, at the height of the co...",['Rupert Fike'],Book Publishing Company,['Biography & Autobiography'],1.0
33,The Battleship Bismarck,The Bismarck is perhaps the most famous – and ...,['Stefan Draminski'],Bloomsbury Publishing,['History'],1.0
42,Tess and the Highlander,"In 1543, on a windswept isle off of Scotland, ...",['May Mcgoldrick'],Harper Collins,['Juvenile Fiction'],2.0
43,Beginner's Yoruba (Hippocrene Beginner's Series),"""Beginner's Yoruba"" is now available with two ...",['Kayode J. Fakinlede'],Hippocrene Books,['Foreign Language Study'],1.0
...,...,...,...,...,...,...
5106,NEW WORLD 96 SPANISH/ENGLISH DICTIONARY SOFTBOUND,"The completely revised, second edition of the ...",['Salvatore Ramondino'],Berkley,['Foreign Language Study'],2.0
5109,Beyond Glory: Medal of Honor Heroes in Their O...,A stirring oral history of the nation's Medal ...,['Larry Smith'],W. W. Norton & Company,['Biography & Autobiography'],1.0
5112,Ashes,“Somebody comes into the Zen center with a lig...,"['Seung Sahn', 'Sungsan Tae Sŏnsa', 'Stephen M...",Grove Press,['Religion'],4.0
5115,How to Bring Them to Christ,Most Christians intensely desire to bring othe...,['R. A. Torrey'],Whitaker House,['Religion'],2.0
5130,Talk About Stress : Managing Stress in the Int...,Stress is the greatest killer of modern times....,"['Alok Chakrawal', 'Pratibha Goyal']",Studera Press,['Business & Economics'],1.0

In [34]:
def nettoyer_genre(genre):

    if isinstance(genre, list):  
        return genre
    
    genre = genre.replace("&", ",")
    #genre = genre.replace(" ", "")
    genre = genre.replace("[", "").replace("]", "").replace("'", "")
    return genre.split(",")

df["Genre"] = df["Genre"].apply(nettoyer_genre)
df[["Titre", "Genre"]].head(10)

,Titre,Genre
5,The Church of Christ: A Biblical Ecclesiology ...,[Religion]
31,Voices from the Farm: Adventures in Community ...,"[Biography , Autobiography]"
33,The Battleship Bismarck,[History]
42,Tess and the Highlander,[Juvenile Fiction]
43,Beginner's Yoruba (Hippocrene Beginner's Series),[Foreign Language Study]
45,King James: Believe the Hype---The LeBron Jame...,"[Sports , Recreation]"
47,Building the timber frame house: The revival o...,[Architecture]
54,"Open marriage;: A new life style for couples,","[Family , Relationships]"
58,No place to cry: The hurt and healing of sexua...,[Religion]
59,Trouble on Titan,[Fiction]

# Répartition des genres

In [35]:
from collections import Counter

In [36]:
compteur_genres = Counter()
for genres in df["Genre"]:
    compteur_genres.update(genres)

df_genres = pd.DataFrame(compteur_genres.items(), columns=["Genre", "Nb Occurrences"])
df_genres["%"] = (df_genres["Nb Occurrences"] / df_genres["Nb Occurrences"].sum()) * 100
df_genres = df_genres.sort_values(by="Nb Occurrences", ascending=False)

df_genres.head(20)

               Genre  Nb Occurrences          %
11           Fiction             242  19.690806
4   Juvenile Fiction              77   6.265256
0           Religion              72   5.858421
3            History              60   4.882018
2      Autobiography              49   3.986981
1         Biography               49   3.986981
23         Economics              26   2.115541
22         Business               26   2.115541
20             Mind               25   2.034174
19              Body              25   2.034174
21            Spirit              25   2.034174
6            Sports               21   1.708706
7         Recreation              21   1.708706
32           Science              20   1.627339
46         Computers              18   1.464605
9            Family               17   1.383238
36           Cooking              17   1.383238
10     Relationships              17   1.383238
15           Fitness              17   1.383238
14           Health               17   1.383238